<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 보편적으로 사용하는 방법 꼭 그런 건 아님 -->
<mapper namespace="BoardDAO">
	<!-- 쿼리작성 영역 꿔리 짜기 -->
	<insert id="addBoard" parameterType="board">
		<selectKey resultType="int" keyProperty="boardId" order="BEFORE">
			SELECT IFNULL(MAX(BOARD_ID),0) + 1 FROM BOARD
		</selectKey>
		INSERT INTO BOARD 
		VALUES(
			#{boardId},
		 	#{userId}, 
			#{boardTitle},
			#{boardContent},
			0,
			now()
		     )		
	</insert>
	<!-- #{} : 변수 빼오는 방식//  resultType : 리턴 타입있을 때(select)-->	
	<select id="getBoard" parameterType="int" resultType="board">
		SELECT A.*
		     , B.FULL_NAME
			FROM BOARD A
			   , USER B
			WHERE BOARD_Id = #{boardId}
			  AND A.USER_ID = B.USER_ID
	</select>
	
	<select id="viewList" parameterType="map" resultType="board">
	<![CDATA[
		SELECT A.*
			 , B.FULL_NAME
			FROM BOARD A
			   , USER B
	]]>		
			<if test="searchKeyword == null or searchKeyword == ''">
			WHERE 1 = 1
			</if>
		 	<if test="searchKeyword != null and searchKeyword != ''">
		 	WHERE 1 = 0 
					OR A.BOARD_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
					OR A.BOARD_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')	
					OR B.FULL_NAME LIKE CONCAT('%', #{searchKeyword}, '%')		
			</if>
			AND A.USER_ID = B.USER_ID	
			LIMIT #{cri.amount} OFFSET #{cri.startNum}	
	</select>
	
	<update id="updateBoardCnt" parameterType="int">
		UPDATE BOARD
		SET BOARD_COUNT= BOARD_COUNT+1 
		WHERE BOARD_ID = #{boardId}
	</update>
	
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD
			SET BOARD_TITLE = #{boardTitle}
			, BOARD_CONTENT = #{boardContent}
			WHERE BOARD_ID = #{boardId}			
	</update>
	
	<delete id="deleteBoard" parameterType="int"> 
		DELETE FROM BOARD
			WHERE BOARD_ID = #{boardId}
	</delete>
	
	<select id="getBoardTotalCnt" parameterType="map" resultType="int">
		SELECT COUNT(*)
		 	FROM BOARD A
			   , USER B
			<if test="searchKeyword == null or searchKeyword == ''">
			WHERE 1 = 1
			</if>
		 	<if test="searchKeyword != null and searchKeyword != ''">
		 	WHERE 1 = 0 
					OR A.BOARD_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
					OR A.BOARD_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')	
					OR B.FULL_NAME LIKE CONCAT('%', #{searchKeyword}, '%')		
			</if>
			AND A.USER_ID = B.USER_ID	
	</select>
		
</mapper>